@import './filePond.scss';

// scroll style
::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
}

::-webkit-scrollbar-thumb {
  background: #1976d2;
  border-radius: 0.75rem;
  opacity: 75%;
}

::-webkit-scrollbar-track {
  background: $base;
}

// page transition
.page-enter-active,
.page-leave-active {
  transition: opacity 0.1s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

// line clamp
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// top bar
#app-bar-custom {
  border: 0px solid !important;
  border-color: rgba(0, 0, 0, 0.12) !important;
  border-radius: 24px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

// footer
.v-footer {
  border-radius: 24px !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

// form fields style
.v-input fieldset {
  color: $primary !important;
}

.error--text fieldset {
  color: $error !important;
}

.input-filter {
  fieldset {
    border-color: $primary;
  }
  .v-text-field__slot {
    label {
      color: $primary;
      font-size: large;
    }
  }
}

.input-select-filter {
  fieldset {
    border-color: $primary;
  }
  .v-select__slot {
    label {
      color: $primary;
      font-size: large;
    }
  }
  .v-select__selection {
    color: $primary;
  }
}

.v-text-field {
  .v-label {
    color: $primary !important;
    font-size: large;
  }
}

.v-autocomplete__content.v-menu__content {
  border-radius: 1rem !important;
}

// data table
.v-data-table > .v-data-table__wrapper > table > thead > tr > th {
  text-transform: uppercase !important;
}
