// scroll style
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #1976d2;
  opacity: 75%;
}

::-webkit-scrollbar-track {
  background: transparent;
}

// page transition
.page-enter-active,
.page-leave-active {
  transition: opacity 0.1s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

// line clamp
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// input fields style
.v-input fieldset {
  color: $primary !important;
}

.error--text fieldset {
  color: $error !important;
}

.input-filter {
  fieldset {
    border-color: $primary;
  }
  .v-text-field__slot {
    label {
      color: $primary;
      font-size: large;
    }
  }
}

.input-select-filter {
  fieldset {
    border-color: $primary;
  }
  .v-select__slot {
    label {
      color: $primary;
      font-size: large;
    }
  }
}
