// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
$primary: #1961e4;
$primary-darken-1: #1457d0;
$primary-darken-2: #0947b7;
$secondary: #ff3d17;
$error: #ff5252;
$base: #ffffff;
// font
$font-size-root: 16px;
$body-font-family: 'Open sans', 'Roboto', sans-serif;
// text field
$text-field-border-radius: 0px;
// $text-field-outlined-fieldset-border: 2px solid #2196f3;
// timeline
$timeline-item-padding: 0px;
$timeline-divider-width: 3rem;
// table
$data-table-border-radius: 1.5rem;
$data-table-regular-header-font-size: 14px;
// button
$btn-border-radius: 1.5rem;
// card
$card-actions-padding: 16px;
$card-elevation: 0;
$card-border-radius: 1.5rem;
// menu
$menu-content-border-radius: 16px;

$dialog-border-radius: 24px;

